@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Onest:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    background-color: whitesmoke;
}

// Font Variable
$font-caveat: "Caveat", cursive;
$font-poppins: "Poppins", sans-serif;
$font-onest: "Onest", sans-serif;

// Color Variable
$mine-orange: #f9743c;
$mine-purple: #733ce0;
$mine-pink: #df1b59;


header {
    font: {
        family: $font-poppins;
    }
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        background-color: red;
        padding: 20px 70px;
        color: white;
        border: {
            radius: 1rem;
        };
    }
}

main {
    font: {
        family: $font-onest;
    }
    display: flex;
    justify-content: center;
    width: 100%;
    margin: {
        bottom: 1rem;
    }
    table {
        background-color: white;
        width: 60%;
        text-align: center;
        border: 1px solid red;
        thead {
            font: {
                weight: 900;
                size: 1.3rem;
            }
            tr {
                td {
                    padding: 10px;
                }
            }
        }
        tbody {
            tr {
                td {
                    &:nth-child(1) {
                        font: {
                            weight: 900;
                        }
                    }
                    font: {
                        size: 1.2rem;
                    }
                    img {
                        width: 150px;
                        height: 150px;
                        object-fit: cover;
                    }
                    padding: 3px;
                }
            }
        }
    }
}

#back-button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    a {
        color: $mine-purple;
        font: {
            size: 2rem;
        }
    }
}