@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Onest:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: whitesmoke;
}

// Font Variable
$font-caveat: "Caveat", cursive;
$font-poppins: "Poppins", sans-serif;
$font-onest: "Onest", sans-serif;

header {
    position: relative;
    width: 100%;
    height: 100vh;
    font: {
        family: $font-poppins;
    }
    .hero {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .hero-title {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1 {
                display: flex;
                gap: 10%;
                // justify-content: center;
                span {
                    &:nth-child(1) {
                        font: {
                            family: $font-caveat;
                        }
                        color: red;
                    }
                    &:nth-child(2) {
                        font: {
                            family: $font-caveat;
                        }
                        color: white;
                    }
                }
                font: {
                    family: $font-poppins;
                    size: 7rem;
                }
                text: {
                    transform: uppercase;
                }
            }
            a {
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                color: black;
                padding: 0 30px;
                border: {
                    radius: 0.8rem;
                }
                font: {
                    size: 2rem;
                    weight: 500;
                }
                text: {
                    decoration: none;
                }
            }
        }
    }
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: {
        top: 5rem;
    }
    font: {
        family: $font-poppins;
    }
    nav {
        font: {
            family: $font-onest;
            size: 2rem;
        }
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .card-list {
        display: flex;
        gap: 10%;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin: {
            top: 1.5rem;
        }
        .card {
            position: relative;
            width: 300px;
            height: 370px;
            overflow: hidden;
            border: {
                radius: 1rem;
            }
            margin: {
            }
            &:hover {
                .card-image {
                    img {
                        filter: blur(5px);
                        scale: 1.2;
                        transition: all 700ms ease;
                    }
                }
                .card-detail {
                    scale: 1;
                    transition: all 700ms ease;
                }
            }
            &-image {
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-detail {
                display: flex;
                align-items: center;
                justify-content: center;
                top: 150px;
                position: absolute;
                width: 100%;
                padding: 10% 0;
                scale: 0;
                h1 {
                    rotate: -45deg;
                    color: whitesmoke;
                    font: {
                        size: 1.5rem;
                    }
                }
            }
        }
    }
}
