@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Onest:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    background-color: whitesmoke;
}

// Font Variable
$font-caveat: "Caveat", cursive;
$font-poppins: "Poppins", sans-serif;
$font-onest: "Onest", sans-serif;

// Color Variable
$mine-orange: #f9743c;
$mine-purple: #733ce0;
$mine-pink: #df1b59;

header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50vh;
    font: {
        family: $font-poppins;
    }
    .hero-left {
        width: 40%;
        display: flex;
        align-items: center;
        padding: {
            left: 2rem;
        }
        .hero-title {
            h1 {
                margin: {
                    bottom: 10px;
                }
                font: {
                    size: 2.5rem;
                }
            }
            p {
                text-align: justify;
                font: {
                    size: 1rem;
                }
            }
        }
    }
    .hero-right {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .hero-image {
            display: flex;
            &:hover img {
                margin-left: 0;
                transition: all 1s ease;
            }
            img {
                cursor: pointer;
                margin: {
                    left: -125px;
                }
                width: 250px;
                height: 250px;
                object-fit: cover;
                border: 3px solid white {
                    radius: 50%;
                }
                transition: all 1s ease;
            }
        }
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font: {
        family: $font-poppins;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        h1 {
            font: {
                size: 2.5rem;
            }
        }
    }
    .card-list {
        margin: {
            bottom: 1rem;
        }
        padding: 0 20px {
            bttom: 10px;
        };
        display: flex;
        justify-content: space-around;
        .card {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            width: 250px;
            height: 320px;
            padding: 2px;
            &:nth-child(1) {
                border: 5px double $mine-orange {
                    radius: 1rem;
                }
                .card-image {
                    background-color: $mine-orange;
                }
            }
            &:nth-child(2) {
                border: 5px double $mine-purple {
                    radius: 1rem;
                }
                .card-image {
                    background-color: $mine-purple;
                }
            }
            &:nth-child(3) {
                border: 5px double $mine-pink {
                    radius: 1rem;
                }
                .card-image {
                    background-color: $mine-pink;
                }
            }
            &-image {
                border: {
                    radius: 1rem;
                }
                display: flex;
                justify-content: center;
                width: 100%;
                height: 200px;
                img {
                    position: absolute;
                    top: -35px;
                    width: 160px;
                    height: 200px;
                    object-fit: cover;
                }
            }
            &-detail {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                padding: 10px 0;
                width: 60%;
                h1 {
                    font: {
                        size: 1.1rem;
                    }
                }
                .btn-detail {
                    width: 100%;
                    background-color: black;
                    border: none {
                        radius: 0.8rem;
                    }
                    color: white;
                    padding: 5px 10px;
                    font: {
                        size: 1rem;
                    }
                    text: {
                        align: center;
                        decoration: none;
                    }
                }
            }
        }
    }
}
